@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");

html {
  scroll-behavior: smooth;
}

.customized-text {
  font-family: "Parisienne", cursive;
}

.flower-bg {
  background-image: url("./images/flw-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
